<a href="https://colab.research.google.com/github/rohanmatheswaran/TechnoHacks_Intern/blob/main/DataAnalystIntern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os

file_path = '/content/Titanic-Dataset.csv'
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print("File loaded successfully!")
else:
    print("File not found. Please check the path.")

File loaded successfully!

In [ ]:

if 'Fare' in df.columns:
    mean_fare = df['Fare'].mean()
    median_fare = df['Fare'].median()
    mode_fare = df['Fare'].mode()[0]
    std_fare = df['Fare'].std()

    print(f"Mean: {mean_fare}")
    print(f"Median: {median_fare}")
    print(f"Mode: {mode_fare}")
    print(f"Standard Deviation: {std_fare}")
else:
    print("'Fare' column not found in the dataset.")

Mean: 32.204207968574636
Median: 14.4542
Mode: 8.05
Standard Deviation: 49.6934285971809

In [ ]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler


df = pd.read_csv('/content/Titanic-Dataset.csv')

print("Missing values before cleaning:\n", df.isnull().sum())

df.dropna(inplace=True)

df.drop_duplicates(inplace=True)

print("Data types before conversion:\n", df.dtypes)

if 'Fare' in df.columns:
    df['Fare'] = pd.to_numeric(df['Fare'], errors='coerce')
    df['Fare'] = df['Fare'].astype('int', errors='ignore')

def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

if 'Fare' in df.columns:
    df = remove_outliers_iqr(df, 'Fare')

scaler = StandardScaler()

if 'Fare' in df.columns and 'Age' in df.columns:
    df[['Fare', 'Age']] = scaler.fit_transform(df[['Fare', 'Age']])

df.rename(columns={'old_column_name': 'new_column_name'}, inplace=True)

print("Missing values after cleaning:\n", df.isnull().sum())

print("Cleaned dataset:\n", df.head())

Missing values before cleaning:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
Data types before conversion:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Missing values after cleaning:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
Cleaned dataset:
    PassengerId  Survived  Pclass  \
0            2         1       1
1            4         1       1
2            7         0       1
4           12         1       1
6           24         1       1

                                                Name     Sex       Age  SibSp  \
0  Cumings, Mrs. John Bradley (Florence Briggs Th...  female -0.034424      1
1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female -0.226446      1
2                            McCarthy, Mr. Timothy J    male  0.989693      0
4                           Bonnell, Miss. Elizabeth  female  1.245723      0
6                       Sloper, Mr. William Thompson    male -0.674497      0

   Parch    Ticket  Fare Cabin Embarked
0      0  PC 17599   0.0   C85        C
1      0    113803   0.0  C123        S
2      0     17463   0.0   E46        S
4      0    113783   0.0  C103        S
6      0    113788   0.0    A6        S

In [ ]:
import pandas as pd

df = pd.read_csv('/content/Iris.csv')

duplicates = df[df.duplicated()]
print("Duplicate rows in the dataset:")
print(duplicates)

print(f"Number of duplicate rows: {duplicates.shape[0]}")

df_cleaned = df.drop_duplicates()

print(f"Number of rows after removing duplicates: {df_cleaned.shape[0]}")

Duplicate rows in the dataset:
Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []
Number of duplicate rows: 0
Number of rows after removing duplicates: 150